*{
    margin: 0;
    padding: 0;
}
svg{
   width: 100vw;
   height: 40rem;
   
    
}
text{
    font-size: 3vh;
}

section{
    width: 80vw;
    margin: auto;
}

.section-one>h2{
    position: relative;
    top: 15px;
}
.section-one>p{
    position: relative;
    top: 50px;
    box-sizing: border-box;
}

.section-two>h2{
    text-align: right;
    position: relative;
    top: 65px;
}

.section-two>p{
    position: relative;
    top: 100px;
}


h2{
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #126c77;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10rem;
    background-color: RGB(1, 28, 35);
    color: white;
}


